<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>TODOアプリ</title>
</head>

<body>
	<h1>TODOアプリ</h1>
	<h1 th:text="|${#authentication.principal.username}さんこんにちは|"></h1>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>USER_ID</th>
			<th>ACTION</th>
		</tr>
		<tr th:each="todo : ${todos}">
			<form action="/" method="post">
				<td th:text="${todo.id}"></td>
                <input type="hidden" name="id" th:value="${todo.id}">
				<td th:text="${#authentication.principal.username}"></td>
				<input type="hidden" name="userId" th:value="${#authentication.principal.username}">
                <td><input type="text" th:value="${todo.action}" name="action"></td>
				<td><input type="submit" name="edit" value="修正"></td>
				<td><input type="submit" name="delete" value="削除"></td>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			</form>
		</tr>
        <tr>
			<form action="/" method="post">
                <td><input type="text" name="id"></td>
                <!-- IDは自動採番 -->
                <td><input type="text" name="userId" th:value="${#authentication.principal.username}"></td>
	            <td><input type="text" name="action"></td>
				<td><input type="submit" name="add" value="追加"></td>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			</form>
		</tr>

	</table>
	<form method="post" action="/" enctype="multipart/form-data">
		<input type="file" name="file">
		<input type="submit" name="upload_file" value="ファイルをアップロード">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>
</body>

</html>
